services:
  php:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: php_labs_web
    ports:
      - "8008:80"
    volumes:
      - ./:/var/www/html:rw
    environment:
      - APACHE_DOCUMENT_ROOT=/var/www/html/public
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
